@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}
body{
    position: relative;
    width:100%;
    min-height:100hv;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(ocean.png) no-repeat;
    background-size:cover ;
    background-position: center;
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    color: brown;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
header .navbar a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 3px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}
header .navbar a:not(:last-child){
    margin-right: 30px;
}
header .navbar a:hover{
    background: #53cefb;
}
section{
    width:1100px;
    margin: 16px 100px;
}
section h2{
    color: rgb(0, 251, 255);
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 20px;
    margin-bottom: 35px;
    
}
section h3{
    color: yellow;
    font-size: 30px;
    margin-bottom: 10px;
}
section p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 80px;
    color: #fff;
}
section .shark{
    color: #fff;
    background: rgb(91, 8, 8);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 10px 20px;
    border-radius: 6px;
}
section .shark:hover{
    background: black;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
footer a{
    position: relative;
    color: #fff;
    font-size: 30px;
    
}
footer a:not(:last-child){
    margin-right: 60px;
}
footer a:hover{
    transform: scale(1.5);
}