*{
	margin:0;
	padding:0;
	background:#E6E6FA;

}
.main{
	width:100%;
	background:#E6E6FA;
	background-position:center;
	background-size: cover;
	height:100vh;
	position: relative;
	font-family:relative;
	
}

.navbar{

	width: 80%
	display=flex;
	margin: auto;
	padding:5px 5px;
	align-items: center;
	justify-content: space-between;
	position:relative;
			
}
.navbar .logo{
	width:80px;
	cursor: pointer;
	margin-top: 20;
	margin-left: 15;

}

ul{
	margin-top: 0;
}

ul li{
	list-style:none;
	padding: 20px 16px;
	align-items: center;
	float:right;
	text-decoration: none;
}

ul li a:hover{
	color: rgb(95, 198, 221);
}
.bio{
	margin-left: 2%;
	margin-top: 4%;
}
.bio h1{
	font-size: 65px;
	color:rgb(36,32,30);
}
.bio h3{
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 24px;
}
.bio span{
	color:rgb(255,0,0);
}

.bio a:hover{
	background:rgb(36,32,30);
	text-decoration: none;
	
}
.op{
	margin-top:4%;
	margin-left:3%;
}
.op h2{
	font-size:25px;
	color:rgb(255,0,0);
}
ol h3{
	font-size:20px;
	margin-top:2%;
	color:#9219e9;
}
ol li{
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 24px;
}
.op .me{
	width:500px;
	height:400px;
	cursor: pointer;
	margin-top: 0;
	margin-right: 20%;
	float:right;
	
}
.certification{
	margin-top:7%;
	margin-left:3%;
	box-sizing: border-box;
}
.certification h2{
	font-size:25px;
	color:rgb(255,0,0);
}
.column{
	float: left;
	width: 33.33%;
	height: 33.33%;
	padding: 0;
	
}
.row::after{
	content:"";
	display: table;
	clear: both;
}
.intern{
	margin-top:7%;
	margin-left:3%;
}
.intern h2{
	font-size:25px;
	color:rgb(255,0,0);
}
.intern h3{
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 24px;
}
.achiv{
	margin-top:7%;
	margin-left:3%;
}
.achiv h2{
	font-size:25px;
	color:rgb(255,0,0);
}
.achiv h3{
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 24px;
}
.info{
	margin-top:7%;
	margin-left:3%;
}
.info h2{
	font-size:25px;
	color:rgb(255,0,0);
}
.info h3{
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 24px;
}